__pycache__/                                                                                                                                                                                 
*.swp
*.pyc
*.csv
